.navbar {
  background-color: #101010;
  height: 80px;
}
.navbar-brand {
  display: flex;
  align-items: center;
    align-items: center; 
  align-items: center;
}
 /* Default style for theater background */
 .theater-background {
  height: 75vh; /* Default height */
}

.swal-btn{
  background-color: var(--black); 
  color: #fff; 
  border-color: var(--black);
}
.navbar-brand img {
  margin-right: 15px;
    margin-right: 15px; 
  margin-right: 15px;
}

.MNT-text {
  font-size: 34px;
    font-size: 34px; 
  font-size: 34px;
  color: white;
  font-weight: bold;
}
:root {
  --text: #ffffff;
  --background: #f4f0f0;
  --primary: #f9af41;
  --secondary: #792a2a;
  --accent: #980b0b;
  --green: #35c28f;
  --red: #f46a69;
  --black: #101010;
}
body {
  font-family: "Abel", sans-serif;
  margin-top: 80px;
  
}
.linear-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) -8.89%,
    rgba(0, 0, 0, 0) 43.19%,
    rgba(0, 0, 0, 0.82) 67.67%,
    #000000 91.11%
  );
}
.black-bg {
  background-color: var(--black);
}
input[type="checkbox"]:checked {
  accent-color: var(--black);;
}
.show-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.show-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.12), 0 4px 8px rgba(255, 0, 0, 0.06);
}
.logo-menu {
  height: 100px;
  margin-top: -20px;
  margin-left: -10px;
}
.accent-color {
  color: var(--accent);
}
.nav-btn {
  background-color: #ffe0b3 !important;
  color: black;
  border-color: transparent;
}
.header-left {
  margin-left: -600px;
  margin-top: -15px;
}

.active {
  padding-right: 60px;
  color: white;
  text-transform: uppercase;
  font-style: initial;
}
.custom-repertoire-btn {
  color: var(--black);
  border-color: var(--black); 
}
.custom-repertoire-btn:hover {
  background-color:var(--black);
  border-color: var(--black);
  color: #fff;
}
.header-right {
  margin-right: 20px;
  margin-top: -15px;
}

.rightone {
  color: black;
  margin-right: 20px;
  padding: 10px;
  background-color: rgb(255, 255, 190);
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-style: italic;
}

.righttwo {
  color: black;
  padding: 10px;
  background-color: rgb(255, 255, 190);
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-style: italic;
}

.filter {
  margin-left: 1350px;
  margin-top: 30px;
}

.filter_button {
  padding: 10px;
  border-radius: 16px;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  color: white;
}

.popular {
  margin-left: 80px;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}
.age-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  padding: 25px;
}
.age-label-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: solid black;
  border-radius: 50%;
  padding: 10px;
}
.footer-pos {
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

/* Media query for mobile phones */
@media only screen and (max-width: 768px) {
  .theater-background {
      height: 45vh; /* Height for mobile phones */
  }
  .MNT-text{
    display: none;
  }
  .logo{
    width: 35px;
    height: 35px;
  }
  .logout-btn{
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .show-image {
    height: 500px;
  }
}

